body {
  background-color: #f7f7fd;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

.nav-link {
    color: white;
    font-family: 'Roboto';
    text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  position: absolute;
  top: 41%;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  z-index: 2;
}

.right-arrow {
  left: 2px;
}

.left-arrow {
  right: 2px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.2, 1.2);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 700px;
  height: auto;
}

.banner-img {
  position: absolute;
  height: 900px;
  bottom: 0px;
  left: 750px;
}

.exercise-card {
  width: 400px;
  background: #fdfdfd;
  border-radius: 12px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  overflow: hidden;
}

.exercise-card img {
  height: 400px;
  margin-top: 4px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.exercise-video:hover {
  transform: scale(1.05, 1.05);
  transition: 0.3s all ease-in-out;
}

.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s all ease-in-out;
}

.search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 387px;
  text-decoration: none;
}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}

.instructions-list {
  padding-left: 1.2rem;
}

.instructions-list li {
  padding-left: 0.2rem;
}
